# Node.js dependencies
node_modules/

# Logs
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files (don't push sensitive data)
.env
.env.local
.env.production
.env.development

# Database-related files (if any)
*.db
*.sqlite

# IDE and editor-related files
.vscode/
.idea/

# Operating system files
.DS_Store
Thumbs.db
